<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/kconple"
        android:label="케콘플"
        android:roundIcon="@mipmap/kconple_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K_content_App"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIdb9aYA-V0cbg8xBtlDeMKnaPSGPWtbY" />

        <activity
            android:name=".DramaDetailActivity"
            android:exported="false" />

        <activity
            android:name=".Nav_mainActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralEnroll"
            android:exported="false" />
        <activity
            android:name=".SelectEnroll"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>